/* CSS for questionBox Component */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    text-align: center;
    background-color: rgb(223, 203, 235);
    font-family: 'Ubuntu', sans-serif;

}

.container{
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    width: 150vh;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.5);

}

.kalvium{
    width: 30vh;
}

.Questionnav{
    display: flex;
    justify-content: space-around;
}

.Questionnav button{
    width: 10vh;
    height: 5vh;
    margin-top: 5vh;
    border-radius: 7px;
}

.highlightdiv{
    margin: 5vh;
    margin-top: 7vh;
}

.highlightdiv button{
    margin: 1vh;
    width: 25vh;
    height: 5vh;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(254, 216, 216);
}

.optionsdiv{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.optionsdiv  button{
    color:black;
    font-size: 2.5vh;
    padding: 0%;
    width: 100vh;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    border-radius:7px;
}

.flex{
    display: flex;
    justify-content: center;
}

.dark-mode {
    color: white;
    background-color: rgb(163, 123, 219);
    transition: 0.2s ease-in-out;
}

h3{
    margin-top: 40px;
}

h2{
    margin-top: 30px;
}

h1{
    font-size: 2rem;
}

/* CSS for result component  */

.ResultDiv{
    background-color: rgb(225, 225, 225);
    color: black;
    width: 100vh;
    height: 500px;
    border-radius: 20px;  
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.5);
}

.themebutton{
    margin-bottom: 2vh;
    margin-left: 80vh;
    
}

.ResultDiv button{
  padding: 1vh;
  margin: 2vh;
  border-radius: 7px;
  width: 200px;
  background-color: rgb(254, 216, 216);
}


